$green: #6cb144;
$orange: #ED4F24;

.letsTalkMother{
    .letsTalkMain{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        .letsTalkBar{
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: $green;
            .letsTalkHead{
                text-align: center;
                font-size: 4rem;
                color: #ffffff;
            }
        }
    }

    @media(max-width: 600px) {
        .letsTalkMain{
            .letsTalkBar{
                height: 150px;
                .letsTalkHead{
                    font-size: 3rem;
                }
            }
        }
    }
}   