.home1Mother{
  height: calc(100vh - 73px);

  // .noticeDiv{
  //   background: yellow;
  //   padding: 10px;
  //   .noticeH1{
  //     font-size: 1.5rem;
  //     text-align: center;
  //     &:before{
  //       content: 'Notice';
  //       background: black;
  //       color: white;
  //       border-radius: 3px;
  //       padding: 2px 5px;
  //     }
  //   }
  //   @media(max-width: 830px) {
  //     .noticeH1{
  //       font-size: 1.2rem;
  //     }
  //   }
  //   @media(max-width: 550px) {
  //     .noticeH1{
  //       font-size: 1.0rem;
  //     }
  //   }
  // }

  .home1Main{
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background-image: url('../images/h3Conferance.jpg');
    background-size: cover;
    // margin-top: 15px;
    .home1HeadDiv{
      padding: 0 40px;
      margin-bottom: 30px;
      .home1Head{
        color: #4698FF;
        font-size: 2.4rem;
        font-weight: 500;
        background: #333;
        padding: 5px 10px;
        border-radius: 3px;
        

        &:before{
          content: "Employer ";
          color: #ffffff;
          
        }

        &:after{
          content: " Job Seeker, we're here to help.";
          color: #ffffff;
        }

        @media(max-width: 700px) {
          font-size: 1.8rem;
        }

        @keyframes brighten{
          from{ filter: brightness(100%) }
          to{ filter: brightness(140%) }
        }
        
        animation: brighten 1.5s alternate infinite; 
      }
    }

    .home1CTADiv{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      text-align: center;
      button{
        appearance: none;
        border: none;
        background: #ED4F24;
        border-radius: 5px;
        box-shadow: 3px 3px #6cb144;
        color: #ffffff;
        font-size: 1.15rem;
        font-weight: 900;
        padding: 0 15px;
        transition: all .2s ease-in-out;
        cursor: pointer;
      }
    }
    .arrowDiv{
      display: flex;
      justify-content: center;
      .downArrow{
        position: absolute;
        display: inline-block;
        align-self: center;
        width: 25px;
        top: 90%;
        height: 35px;
        fill: #ffffff;
        animation: upDown 1s alternate infinite;

        @keyframes upDown{
            from {transform: translateY(0)}
            to{ transform: translateY(15px) };
        }    
    
      }
    }

  }

  @media(max-width: 600px) {
    // height: calc(100vh - 93px);
    .home1Main{
      margin-top: 0;
      .home1HeadDiv{
        .home1Head{
          font-size: 1.6rem;
        }
      }
      .downArrow{
        top: 90%;
      }
    }
  }

  @media(max-width: 400px) {
    .home1Main{
      .home1HeadDiv{
        .home1Head{
          font-size: 1.3rem;
        }
      }
      .downArrow{
        top: 90%;
      }
    }
  }
}




// /* OVERRIDES !important must be included on all styles */

// /* container for all pages */
// /* main text color default is set here - IMPORTANT */
// /* can change background, or add borders and padding */
// .jb--jobs {
//     color: #000 !important;
//     /* background: #fff !important; */
//     padding: 1rem !important;
//   }
  
//   /* page titles */
//   .jb--wrapper h2 {
//     color: #333 !important;
//   }
  
//   /* links */
//   .jb--wrapper a {
  
//   }
  
//   /* search and apply buttons, pagination */
//   /* can change background, or add borders, change border-radius and padding */
//   .jb--button {
//     background-color: #D3D3D3 !important;
//     border: 1px solid #000 !important;
//     color: #000 !important;
//     border-radius: 6px;
//   }
//   .jb--button:hover {
//     background-color: #f5f5f5 !important;
//     border: 1px solid #000 !important;
//     color: #808080 !important;
//   }
//   /* button with arrow when they are at the beginning or end */
//   .jb--button.disabled {
//     background-color: #eaeaea !important;
//     border: 1px solid #cecece !important;
//     color: #cecece !important;
//   }
//   /* button active depending which page of the search results */
//   .jb--button-active {
//     background-color: #a9a9a9 !important;
//     border: 1px solid #000 !important;
//     color: #fff !important;
//   }
//   .jb--wrapper input {
//     border-radius: 6px !important;
//   }
//   /* height of buttons and form fields */
//   .jb--wrapper input, button, .jb--button {
//       height: 36px !important;
//   }
  
//   /* Change the color of the placeholder text in inputs */
//   ::-webkit-input-placeholder {
//     color: #808080;
//   }
//   :-ms-input-placeholder {
//     color: #808080;
//   }
//   ::-moz-placeholder {
//     color: #808080;
//   }
//   :-moz-placeholder {
//     color: #808080;
//   }
  
//   /* Changes the loading indicator */
//   .jb--loading {
//     color: #D3D3D3;
//     width: 100px;
//   }
  
//   /* container that holds search description */
//   /* can change background, or add borders and padding */
//   .jb--job-listing {
//     background: #fff !important;
//     padding: 1rem !important;
//   }
//   .jb--job-listing:hover {
//     background: #f7f7f7 !important;
//   }
  
//   /* container that holds search description for featured jobs */
//   /* can change background, or add borders and padding */
//   .jb--job-listing-featured {
//     background: #fff !important;
//     padding: 1rem !important;
//   }
//   .jb--job-listing-featured:hover {
//     background: #f7f7f7 !important;
//   }
  
//   /* featured job label on search results */
//   .jb--wrapper .jb--featured-label {
//     background: #555555;
//   }
  
//   /* job title on search results */
//   /* should pick up <a> color, can change if necessary */
//   .jb--title a {
  
//   }
  
//   /* location on search results */
//   .jb--location {
//     color: #808080 !important;
//   }
  
//   /* date posted on search results */
//   .jb--date-posted {
//     color: #000 !important;
//   }
  
//   /* job descriptions on search results */
//   .jb--description {
//     color: #808080 !important;
//   }
  
//   /* job count on bottom of search results */
//   .jb--job-count {
//     color: #000 !important;
//   }
  
//   /* container for the sidebar on job detail page */
//   /* can add background, border, padding */
//   .jb--sidebar {
  
//   }
  
//   /* titles in sidebar */
//   .jb--sidebar-title {
//     color: #808080 !important;
//   }
  
//   /* content in sidebar */
//   .jb--sidebar-content {
//     color: #000 !important;
//   }
  
//   /* container for job description on job detail page */
//   /* can add background, border, padding */
//   .jb--content {
  
//   }
  
//   /* applying for at top of apply page */
//   .jb--applying-for {
//     color: #333 !important;
//   }
  
//   /* labels on form field on apply page */
//   .jb--label {
//     color: #808080 !important;
//   }
  
//   /* accepted file types below resume picker */
//   .jb--file-type {
//     color: #666 !important;
//   }
  