.blogPostMother {
//   height: calc(100vh - 204px);
  .blogPostMain {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 220px;

    .blogPostHead {
    }

    form {
      width: 80%;
      text-align: center;

      .blogPostTitle {
        border: none;
        margin-top: 30px;
        background: #e3e3e3;
        border-radius: 10px;
        font-size: 1.15rem;
        width: 100%;
        height: 30px;
        padding: 10px;
      }

      .blogPostInput {
        border: none;
        resize: none;
        margin-top: 30px;
        background: #e3e3e3;
        border-radius: 10px;
        font-size: 1.15rem;
        width: 100%;
        height: 300px;
        padding: 10px;
      }

      .blogPostBtn {
        width: 80px;
        height: 40px;
        margin-top: 20px;
        border: none;
        border: #333 solid 1px;
        border-radius: 5px;
        background: #333;
        color: #ffffff;
        font-size: 1.15rem;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 600px) {
    .blogPostMain {
        .blogPostHead{
            font-size: 1.6rem;
        }
      form {
        .blogPostTitle {
            margin-top: 20px
        }
        .blogPostInput {
            margin-top: 20px;
            // margin-bottom: 20px;
            height: 250px;
        }
        .blogPostBtn{
            margin-top: 10px;
        }
      }
    }
  }
}
