$green: #6cb144;
$orange: #ED4F24;

strong{
    font-weight: 800;
    // color: black;
}


.home3Mother{
    margin-top: 100px;
    // margin-bottom: 150px;
    .home3Main{
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
        width: calc(100% - 100px);
        justify-content: center;
        flex-direction: column;                
        .overviewHeadDiv{
            max-width: 1100px;
            align-self: center;
            width: 100%;
            .overviewHead{
                font-size: 2.5rem;
                color: $green;
                margin: 0;
                margin-bottom: 35px;
            };
        }

        .overviewSectParent{
            max-width: 1100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-self: center;
            justify-content: space-evenly;

            .overviewSect{

                .overviewParaDiv{
                    width: auto;
                    margin-bottom: 60px;
                    padding-right: 40px;
                    margin: none;
                    
                    .overviewPara{
                        font-size: 1.25rem;
                        margin: none;
                    };
                };
                .briefSect{
                    .briefDiv{
                        box-shadow: -3px 0px 0px 0px $orange, -6px 0px 0px 0px $green;
                        margin-bottom: 30px;
                        padding-left: 10px;
                        .briefHead{
                            margin: 0;
                            font-size: 1.4rem;
                        };
                        .briefPara{
                            margin: 0;
                            font-size: 1.25rem;
                        };
                    };
                };
            };
            .overviewImgSect{
                max-width: 300px;
                width: 100%;
                .overviewImg{
                    height: auto;
                    width: 100%;
                    border-radius: 5px;
                    box-shadow: 4px 4px $orange, 8px 8px $green;
                    

                };
            };

            
            @media(min-width: 701px) {
                .overviewSect{
                    .overviewImgSect2{
                        display: none;
                        .overviewImg2{

                        }
                    }
                }
            }

            @media(max-width: 700px) {
                flex-direction: column;
                .overviewSect{
                    .overviewHead{
                        margin-bottom: 25px;
                        text-align: center;
                    }
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: auto auto;
                    .overviewParaDiv{
                        display: none;
                        .overviewPara{
                            
                        }
                    }
                    .briefSect{
                        .briefDiv{
                            // box-shadow: none;
                            padding-right: 10%;
                            .briefHead{
                                font-size: 1.3rem;
                            }
                            .briefPara{
                                font-size: 1.1rem;
                            };
                        }
                    }


                }
                                   
                .overviewSect2{
                    grid-row: 1;

                    }
                .overviewImgSect2{
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    max-width: inherit;
                    box-shadow: 4px 4px $orange, 8px 8px $green;
                    border-radius: 5px;
                    margin-bottom: 40px;

                        .overviewParaDiv2{
                            position: absolute;
                            z-index: 2;
                            color: white;
                            padding-right: 10%;
                            padding-left: 4%;
                            
                                .overviewPara2{
                                    display: inline-block;
                                    font-size: 1.5rem;
                                    margin: 0;
                                    font-weight: 500;
                                }
                        } 

                    .overviewImg2{
                        filter: brightness(55%);
                        box-shadow: none;                        
                        height: auto;
                        width: 100%;
                        border-radius: 5px;
                    }
                }

                .overviewImgSect{
                    display: none;                
                        .overviewImg{
                        display: none;
                    }
                }

            }

            @media(max-width: 550px) {
                .overviewSect{
                    .overviewHead{
                        font-size: 2.4rem;
                    }
                    .overviewImgSect2{
                        .overviewParaDiv2{
                            .overviewPara2{
                                font-size: 1.25rem;
                            }
                        }
                    }

                    .briefSect{
                        .briefDiv{
                            .briefHead{
                                font-size: 1.15rem;
                            };
                            .briefPara{
                                font-size: 1rem;
                            };
                        }
                    }

                }
            }
        };

        @media(min-width: 826px) {
            .overViewSectParent{
                .overviewSect{
                    .briefSect{
                        display: inline-block;
                    }
                }
            }
            .briefSect2{
                display: none;
            };
        }
        @media(max-width: 825px) {
            .overviewSectParent{
                .overviewSect{
                    .briefSect{
                        display: none;
                        .briefDiv{
                            width: 100%;
                        }
                    }
                }

    
            }
            .overviewImgSect{
                    max-height: 320px;
                }

           .briefSect2{
                .briefDiv2{
                    box-shadow: -3px 0px 0px 0px $orange, -6px 0px 0px 0px $green;
                    margin-bottom: 30px;
                    padding-left: 10px;
                    .briefHead2{
                        margin: 0;
                        font-size: 1.4rem;
                    };
                    .briefPara2{
                        margin: 0;
                        font-size: 1.25rem;
                    };
                };
            };
        }
    };

    @media(max-width: 600px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .home3Main{
            width:calc(100% - 70px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 35px;

            .overviewHeadDiv{
                .overviewHead{
                    font-size: 2.2rem;
                }
            }
            .overviewSectParent{
                .overviewSect{
                    .overviewImgSect2{
                        .overviewParaDiv2{
                            .overviewPara2{
                                font-size: 1rem;
                            }
                        }
                    }

                }
            }
            .briefSect2{
                .briefDiv2{
                    .briefHead2{
                        font-size: 1.25rem;
                    }
                    .briefPara2{
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
};

