$green: #6cb144;
$orange: #ED4F24;

hr{
    width: 95%;
    margin: 0;
    margin-top: 50px;
}


.footerMother{

    .footerMain{
        .footerBar{
            background: #333;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .footerLinks{
                width: 100%;
                max-width: 1450px;
                display: grid;
                grid-template-columns: 25% 25% 50%;
                justify-content: center;
                justify-items: center;
                padding: 40px 0;
                .companyArea{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    color: #ffffff;
                    .companyHead{
                        font-size: 1.9rem;
                        margin-bottom: 5px;
                    }
                    .companyPara{
                        font-size: 1.15rem;
                    }
                }
                .careersArea{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    color: #ffffff;
                    .careersHead{
                        font-size: 1.9rem;
                        margin-bottom: 5px;
                    }
                    .talentNetworkBtn{
                        background: #333;
                        color: #ffffff;
                        padding: 0;
                        margin: 0;
                        border: none;
                        appearance: none;
                    }
                    .careersPara{
                        font-size: 1.15rem;
                    }
                }
                .connectArea{
                    color: $orange;
                    .connectHead{
                        font-size: 1.9rem;
                        margin-bottom: 5px;
                    }
                    .connectPara{
                        color: #ffffff;
                        font-size: 1.15rem;
                    }

                        .socialsDivFooter{
                            display: flex;
                            align-items: center;
                            align-self: center;
                            // justify-content: space-evenly;
                            height: 50px;
                            width: 150px;
                            background: #333;
            
                            .facebookDivFooter, .instagramDivFooter{
                                align-items: center;
                                text-align: center;
                                justify-content: center;
                                text-align: start;
                                height: 50px;
                                width: 50px;
                                transition: all ease-in-out .3s;
                                fill: #ffffff;
            
                                &:hover{
                                    fill: #f4c400;
                                    cursor: pointer;
                                }
                        }
                    }
                }
    
                @media(max-width: 800px) {
                    grid-template-columns: 90%;
                    justify-items: start;
                    row-gap: 40px;
                    padding-bottom: 0;
                }
            }
            .legalDiv{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                .legalPara{
                    color: #ffffff;
                    text-align: center;
                    font-size: 1.15rem;
                }
            }
        }
    }

    @media(max-width: 600px) {
        .footerMain{
            .footerBar{
                .footerLinks{
                    .companyArea{
                        .companyHead{
                            font-size: 1.3rem;
                        }
                        .companyPara{
                            font-size: 1.15rem;
                        }
                    }
                    .careersArea{
                        .careersHead{
                            font-size: 1.3rem;
                        }
                        .careersPara{
                            font-size: 1.15rem;
                        }
                    }
                    .connectArea{
                        .connectHead{
                            font-size: 1.3rem;
                        }
                        .connectPara{
                            font-size: 1.15rem;
                        }
                    }
                }
                .legalDiv{
                    .legalPara{
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}