$green: #6cb144;
$orange: #ED4F24;

.home5Mother{
    height: 80%;
    .home5Main{
        .home5HeadDiv{
            width: 100%;
            margin-bottom: 20px;

            .home5Head{
                color: $green;
                text-align: center;
                font-size: 2.4rem;
            }
        }
        .scrollingDiv{
            display: flex;
            flex-direction: row;
            width: calc(100% - 60px);
            padding: 30px;
            padding-bottom: 0;
            // padding-top: 0;
            overflow: hidden;
            .testimonialBoxParent{
                margin-right: 200px; 
                position: relative;
                .testimonialBox{
                    width: 400px;
                    background: #EEEFF2;
                    margin-bottom: 30px;
                    padding: 20px;
                    border-radius: 10px;
                    box-shadow: 4px 4px $orange, 8px 8px $green;
                    z-index: 1;

                        .testimonialPara{
                            font-size: 1.15rem;
                        }                 
                    }            

                svg{
                    position: absolute;
                    margin-right: 10px;
                    z-index: 2;
                    
                    text{
                        
                    }
                }                 
                

                .testimonialRoleDiv{
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .testimonialRole{
                        text-align: center;
                        font-size: 1.3rem;

                        font-family:"Open Sans Semibold";
                    }
                }                    
                
                @keyframes scroll {
                    from{ transform: translate(0)}
                    to{transform: translate(-2000px)}
                }
                        
                 animation: scroll 65s linear infinite;
            }

        }
    }

    @media(max-width: 600px) {
        .home5Main{
            margin-bottom:  40px;
            .home5HeadDiv{
                .home5Head{
                    font-size: 2.1rem;
                }
            }

            .scrollingDiv{
                .testimonialBoxParent{
                    .testimonialBox{
                        width: 350px;
                        .testimonialPara{
                            font-size: 1.15rem;
                        }
                    }
                    .testimonialRoleDiv{
                        .testimonialRole{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}