$green: #6cb144;
$orange: #ED4F24;

.allMother{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;

    .allHead{
        margin-bottom: 40px;
        font-size: 2.5rem;
        margin-bottom: 35px;
        align-self: center; 
        background: #333;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 4px 4px $orange, 8px 8px $green;
    }

    .postGrid{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        max-width: 1200px;
        justify-content: center;
        justify-items: center;
        align-items: start;;
        grid-gap: 30px;
        
        .blogPost{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: flex-start;
            text-align: center;
            width: 100%;
            border: #333 solid 1px;
            height: auto;
            border-radius: 5px;
            padding-bottom: 10px;
            box-shadow: 4px 4px $orange, 8px 8px $green;

            .blogTitle{
                background: $green;
                color: #ffffff;
                padding: 10px 0;
                font-size: 1.3rem;
            }
            .blogText{
                padding: 10px;
                width: 90%;
            }

            .dateTimeDiv{
                display: flex;
                flex-direction: row;
                padding: 10px;
                justify-content: center;
                
                .blogDate{ 
                    &:before{
                        color: green;
                        content: "\00a0  ||| \00a0";
                    }
                }
                .blogTime{}
            }


        }                 
        @media(min-width: 1450px) {
            max-width: 1500px;
            grid-gap: 50px;
            .blogPost{
                max-width: 1400px;;

                    .blogTitle{
                        font-size: 1.8rem;
                    }

                    .dateTimeDiv{
                        .blogDate, .blogTime{
                            font-size: 1.1rem;
                        }
                    }  
                }
            }
        @media(max-width: 1000px) {
            grid-template-columns: 80%;
            grid-rows: auto auto auto;
            row-gap: 40px;
        }

        @media(max-width: 600px) {
            grid-template-columns: 90%;
        }
    }

}