.navMother{
    .navMain{
        display: flex;
        flex-direction: row;
        height: 100px;
        background: #333;
        color: #ffffff;
        box-shadow: 0px 8px 6px rgba(58, 58, 58, 0.5);
        .leftNav{
            width: 20%;
            .logoDiv{
                height: 100%;
                width: 200px;
                display: flex;
                align-items: center;
                justify-content: center;

                .logo{
                    font-size: 1.5rem;
                }
            }
        }
        .rightNav{ 
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .loginLogoutSect{
                width: 225px;
                text-align: center;  

                .loggedOutSect{
                    .navLogIn{
                        padding: 3px 10px;
                        border-radius: 5px;
                        font-size: 0.85rem;
                        font-weight: 600;
                    }
                }
                .loggedInSect{
                    text-align: center;
                    display: flex;
                    align-items: center;
                    .navGreeting{
                        margin: 0;
                        margin-bottom: 10px;
                    }

                    .navPicture{
                        height: auto;
                        width: 60px;
                        border: #fff 2px solid;
                        border-radius: 5px;
                        margin-left: 20px;
                    }
                    .navLogOut{
                        padding: 3px 10px;
                        border-radius: 5px;
                        font-size: 0.85rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}