.navMother {
  // margin-bottom: 15px;
  .navMain {
    display: flex;
    flex-direction: row;
    height: 70px;
    color: #ffffff;
    .leftNav {
      height: 100%;
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      .logoDiv {
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;

        .logo {
          font-size: 1.5rem;
        }
      }
    }
    .rightNav {
      height: 100%;
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .loginLogoutSect {
        padding-right: 30px;
        text-align: center;

        .loggedOutSect {
          padding-bottom: 15px;
          .navLogIn {
            height: 25px;
            color: #333;
            padding: 1px 10px;
            border-radius: 5px;
            font-size: 1.15rem;
            font-weight: 500;
            background: #ffffff;
            // border: 1px solid #333;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
        .loggedInSect {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;

          .navLinkStack{
            display: flex;
            flex-direction: column;
          }
          .navLogOut {
            height: 25px;
            color: #333;
            padding: 1px 5px;
            font-size: 1rem;
            font-weight: 500;
            background: #ffffff;
            border-bottom: 1px solid #333;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }

          .blogPostBtn {
            height: 25px;
            color: #333;
            padding: 1px 5px;
            font-size: 1rem;
            font-weight: 500;
            background: #ffffff;
            border-top: 1px solid #333;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .navPicLink {
            height: 50px;
            margin-left: 10px;
            .navPicture {
              height: auto;
              width: 50px;
              border-radius: 5px;
              align-self: center;
            }
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    width: 100%;
     .navMain {
      .leftNav {
        .logoDiv {
          padding-left: 15px;
          .logo {
           border-radius: 3px;
          }
        }
      }
      .rightNav {
        .loginLogoutSect {
          padding: 0;
          padding-right: 15px;
          .loggedOutSect {
            padding: 0;
            .navLogIn {
            }
          }
          .loggedInSect {
            .navPicLink {
              height: 45px;
              .navPicture {
                width: 45px;
              }
            }
            .navLogOut {
              border-bottom: none;
            }   
          }
        }
      }
    }
  }
}
